<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ group.name }}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="container" align="center" style="border: solid black">
    <ul type="None">

        <li>Name: {{ group.name }}</li>
        <li>Creator: {{ group.creator }}</li>
        <li>Category: {{ group.category }}</li>
        <li>Description: {{ group.description }}</li>
        <li>Location: {{ group.location }}</li>
        <li><img src="{{ group.photo.url }}" alt="photo" width="400" height="200"></li>
    <br>
    Meetups:
        {% for meetup in meetups %}
            <li><a href="{% url 'meetup:meetup_view' meetup.meetup_id %}">{{ meetup.name }}</a></li>
        {% endfor %}
    {% if user.is_host %}
        <li><a href="{% url 'meetup:create_meetup_view' group.group_id %}">Add Meetup</a></li>
    {% endif %}
    </ul>

        <br>
        <br>
        </div>

</div>
</body>
</html>