<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ meetup.name }}</title>
</head>
<body>

<div class="container" align="center">
    <ul type="None">
    <li>Name: {{ meetup.name }}</li>
    <li>Meetup-id: {{ meetup.meetup_id }}</li>
        <li>Host: {{ meetup.host }}</li>
        <li>Group: {{ meetup.group }}</li>
        <li>Description: {{ meetup.description }}</li>
        <li>Timestamp: {{ meetup.timestamp }}</li>
        {% if not user.is_host %}
            <form method="post" action="">{% csrf_token %}<button class="button" name="join" value="{{ meetup.meetup_id }}">Join</button></form>
        {% endif %}
        </ul>
</div>

</body>
</html>